* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	border: green solid;
}

/* .container {
	max-width: 800px;
	margin: 15px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	border: red solid;
} */
.cartTab {
	width: 100%;
	background-color: #333;
	opacity: 0.99;
	color: white;
	position: fixed;
	border: red solid;
	/* inset: 0 100% 0 auto; */
	display: grid;
	grid-template-rows: 70px 1fr 70px;
	transition: 0.5s;
	z-index: 999;
	h1 {
		padding: 20px;
		margin: auto;
		font-weight: 300;
	}
	.shopping-cart-Btn {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		a {
			text-decoration: none;
			color: black;
		}
	}
	.checkout-shopping-cart {
		#checkout_link {
			height: 50px;
			padding-top: 15px;
		}
	}
	button {
		background-color: #8f8f8f;
		border: none;
		cursor: pointer;
	}
	.close-shopping-cart {
		background-color: #f8f8f8;
	}
	.listCart {
		margin-top: 15px;
		overflow: auto;
		.shop-cart-item {
			margin-top: 15px;
			display: grid;
			grid-template-columns: 70px 150px 150px 1fr;
			gap: 10px;
			text-align: center;
			align-items: center;
			.item-quantity {
				span {
					padding-top: 3px;
					display: inline-block;
					width: 25px;
					height: 25px;
					background-color: #8f8f8a;
					color: #333;
					border-radius: 50%;
					cursor: pointer;
				}
				span:nth-child(2) {
					background-color: transparent;
					color: #fff;
				}
			}
			img {
				width: 100%;
			}
		}
	}
	.listCart::-webkit-scrollbar {
		width: 0;
	}
}
.shipping-form {
	flex: 1;
	padding-left: 20px;
}

.product-item {
	margin-bottom: 20px;
}

.product-item img {
	max-width: 100px;
	height: auto;
	vertical-align: middle;
}

.shipping-form input[type="text"],
.shipping-form input[type="email"],
.shipping-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.shipping-form button {
	background-color: #4caf50;
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.shipping-form button:hover {
	background-color: #45a049;
}
