* {
  box-sizing: border-box;
}

body {

  outline: auto;
  margin: auto;

  /* navbar is designed for big screen first to make implementation of the collapse simpler */
  header {
    /* keep header fixed at top and fill the entire width */
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    /* background-color of header matches logo and there is a box shadow */
    /* background-color: rgb(242, 241, 238); */
    background-color: white;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5); */

    nav {
      display: flex;

      justify-content: space-between;
      align-items: center;

      padding-right: 1rem;

      .logo_img {
        /* margin: 2px; */
        width: 100px;
        justify-self: stretch;
        align-self: stretch;
        margin-left: 10px;

        transition: color 0.4s;
      }

      .logo_img:hover {
        opacity: 80%;
      }

      .nav_links {
        ul {
          display: flex;
          list-style: none;

          gap: 3rem;

          li {
            /* justify-self: stretch; */

            a {
              text-decoration: none;
              font-size: 20px;
              color: black;
            }

            a:hover {
              color: grey;

              /* have common code for transition */
              transition: color 0.4s;
            }
          }
        }
      }

      /* style div with buttons such as search, div) */
      .nav_buttons {
        display: flex;
        align-items: center;
        gap: 1.2rem;
      }

      /* style all icons in the nav */
      .nav_button {
        cursor: pointer;
        transition: fill 0.4s;
        border: auto;

        width: 30px;
      }

      .cart_button {
        width: 36px;
      }

      .nav_button:hover {
        fill: gray;
      }
    }
  }

  main {
    padding: 1rem;
  }
}

/* layout for bigger screen */
@media screen and (min-width: 768px) {
  /* hide the close buttona and collapse toggle button */
  .toggle_button,
  .close_button {
    display: none;
  }
}

/* small screen layout for the navbar */
@media screen and (max-width: 767px) {
  /* display the close buttona and collapse toggle button */
  .toggle_button,
  .close_button {
    display: block;
  }
  nav {
    .nav_links {
      position: fixed;

      /* absolute position set outside view */
      top: -100%;

      /* background-color: rgb(242, 241, 238); */
      background-color: white;

      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: top 0.4s;

      ul {
        text-align: center;
        flex-direction: column;
        padding: 0;
      }

      .close_button {
        position: absolute;
        top: 3rem;
        right: 1rem;
      }
    }

    /* class added to .nav_links to bring it back to the top */
    .show_menu {
      top: 0;
    }
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap");

/* TWO TYPES OF CODE ARE THERE - BOTH ARE WORKING */
/* CODE BELOW IS CODED ACCORDING TO BIG SCREEN */
.display {
  outline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 90vh;
  margin-top: 10px;
  grid-gap: 0.4rem;

  div {
    border: 1px solid black;
    background-color: rgb(68, 70, 68);

    h2 {
      color: white;
      text-align: center;
      /* font-family: Poppins; */
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
}
/* 
.paralax-container {
  outline: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: white;

  width: 800px;
}

.paralax-container:hover .image-text {
  visibility: visible;
  cursor: pointer;
  transition-delay: 500ms;
}

.image img {
  object-fit: contain;
  height: 80%;
}

.image-text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1rem;
  background-color: slategray;
  opacity: 0.8;
  width: 98%;
  height: 99.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  visibility: hidden;
  text-align: center;
} */

/*  */
@media screen and (max-width: 767px) {
  .display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;

    div h2 {
      padding: 15px;
      text-align: left;
      writing-mode: unset;
      transform: none;
    }
  }
}

/* CODE BELOW IS CODED ACCORDING TO SMALL SCREEN */
/* .display{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
margin-top: 10px;
grid-gap: 0.4rem;
div{
  border: 1px solid black;
  background-color: rgb(68, 70, 68);
  h2{
    color: white;
    text-align: center;
    font-family: Poppins;        
    padding: 15px;
    text-align:left;
    writing-mode: unset;
    transform: none;

  }
}
}
@media screen and (min-width: 768px) {
.display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 90vh;

div h2{
  writing-mode:vertical-rl;
  transform: rotate(180deg);
  padding: 50%;
}
}
} */
